body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center ;
    align-items: center ;
    min-height: 100vh;
    background: white;
}
.container{
    width:45%;
    height: 45vh;
    padding: 10px;
    background-color: black;
    border-radius: 8px;
    box-shadow:12px 12px 20px #cdced1,
                   -12px -12px 20px #ffffff;
    
}
.display #calc{
    width: 97%;
    height: 70px;
    font-size: 35px;
    text-align: right;
    outline: none;

    border: none;
    padding-right: -5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cdced1,
                inset -8px -8px 8px #ffffff;
}
.btns{
    width: 100%;
    margin-top:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btns .row button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
                 -5px -5px 8px #00000020;
     
}*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline:none;
    background-color: white;

}








.equi{
    width: 125px;

    color:rgb(65, 236, 116);
}
.clr1{
    color: blue;
}
.dele1{
    color: red;
    background: red;
}
.dis1{
    color:rgb(204, 110, 22);
}
